*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Baloo 2', cursive;
}
.container{
    background-image: url('tower.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
}
nav{
    width: 100%;
    height: 12vh;
    background-color: #00000052;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
}
.logo{
    width: 25%;
    text-align: center;
    font-size: 16px;
    text-shadow: 2px 2px 2px black;
}
.menubar{
    width: 40%;
    display: flex;
    justify-content: space-around;  
}
.menubar a{
    text-decoration: none;
    color: white;
    font-weight: bold;

}
.menubar a:hover{
    color: lime;
    
}
.menubar a:first-child{
    color: lime;
}
main{
    width: 100%;
    height: 83vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}
section h3{
    font-size: 33px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: 1px 1px 1px black;
}
section h1{
    margin: 14px 0px 18px 0px;
    text-transform: uppercase;
    text-shadow: 1px 1px 2px black;
    font-size: 45px;
    font-weight: 500;
}
section span{
    color: lime;
}
section a{
    text-decoration: none;
    padding: 9px 30px;
    border-radius: 4px;
    outline: none;
    font-size: 14px;
    font-weight: 600;
    margin-right: 14px;
}
section p{
    text-shadow: 1px 1px 2px black;
    font-size: 20px;
    margin-bottom: 45px;
}
section .btn1{
    background-color: white;
    color: black;
    transition: all 0.3s linear;
}
section .btn1:hover{
    background-color: black;
    color: white;
    transition: all 0.3s linear;
}
section .btn2{
    background-color:lime;
    color: black;
    transition: all 0.3s linear;
}
section .btn2:hover{
    background-color: green;
    color: white;
    transition: all 0.3s linear;
}